@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-escheresque {
  background: #DBDBDB url('/escheresque_@2X.png') repeat;
  background-size: 46px 29px;
  /* Adjust the size (e.g., 50%, 25%, etc.) */
}

.input {}